<div class="masthead">
  <div class="container">
    <div class="jumbotron">
      <h1>{{site.title}}</h1>
      <p class="lead">{{description}}</p>
      <p><a href="{{relative_path nav_path 'SPSTools.zip'}}" class="btn btn-lg btn-primary">{{icon 'download'}} Download SPSTools.zip</a></p>
    </div>
  </div>
</div>

<div class="feature-section">
  <div class="container">
    <h2>Getting Started</h2>

    <div class="lead">
      {{{contents}}}
    </div>

    <p><a href="{{relative_path nav_path 'general-instructions.html'}}" class="btn btn-lg btn-default">Start Here</a></p>
  </div>
</div>