<div class="masthead">
  <div class="container">
    <div class="jumbotron">
      <h1>{{site.title}}</h1>
      <p class="lead">{{description}}</p>
      <p><a href="{{relative_path nav_path 'SPSTools.zip'}}" class="btn btn-lg btn-primary">{{icon 'download'}} Download SPSTools.zip</a></p>
    </div>
  </div>
</div>

<div class="feature-section">
  <div class="container">
    <h2>Getting Started</h2>

    <div class="lead">
      {{{contents}}}
    </div>

    <p><a href="{{relative_path nav_path 'general-instructions.html'}}" class="btn btn-lg btn-default">Start Here</a></p>
  </div>
</div>

<hr>

<div class="feature-section">
  <div class="container">
    <h2>Works with SharePoint Environments >= 2010</h2>
    <p class="lead">SPSTools can be used with SharePoint 2010, 2013, and 2016, whether on premises or hosted with Office365 or others.</p>
  </div>
</div>

<hr>

<div class="feature-section">
  <div class="container">
    <h2>Contribute</h2>

    <p class="lead">SPSTools is open source! Help develop it on GitHub.</p>

    <p><a href="{{repository}}" class="btn btn-lg btn-default">{{icon 'github'}} View on GitHub</a></p>
  </div>
</div>
